
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-4">
        
                </div>
                <div class="col-4 mt-5 pt-5 text-center">
                    <img src="https://media2.giphy.com/media/RFIfubTMf06wH1LuUo/200w.webp?cid=ecf05e47qsezxqme59uy7xhizh0623mgebk1yws9z0095f62&ep=v1_gifs_search&rid=200w.webp&ct=g"  width="100%">
                </div>
                <div class="col-4">
        
                </div>
            </div>
        </div>
        
    </body>
    </html>


